body {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url("../img/patron.jpg");
    font-family: 'Oswald', sans-serif;
}

.contenedor {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#navv {
    display: flex;
}

#navv2 {

    display: flex;
    margin-right: 6em;
}

header {
    border-radius: 10px;
    background-color: rgb(221, 221, 220);
    background-image: url("../img/logo.png");
    height: 20vh;
    background-size: 25% 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 5px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carrousel {
    width: 80%;
    margin-top: 1em;
    box-shadow: 2px 2px 10px rgb(1, 1, 1, 0.9);
}

#uno {
    display: flex;
    justify-content: center;
    z-index: 1;
    padding-top: 3em;
}

.carrousel {

    padding-top: 10em;
}

img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid black;
}

.hoverNav:hover {

    background-color: rgb(32, 54, 73);


}

@media screen and (min-width: 768px) {

    body {
        background-color: rgb(249, 242, 242)
    }

    header {
        height: 20vh;
        background-image: url("../img/banner2.svg");
        background-color: rgb(227, 225, 225);

        background-size: 83%;
        background-repeat: no-repeat;
        background-position-y: 60%;


    }

}

footer {
    color: #f7f3f3;
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    text-align: center;
    background-color: rgb(19, 18, 18);
}

#im4 {
    width: 200px;
    height: 80px;
}

/* index*/
.cont2 {

    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)), url("../img/back.jpg");

}

#parrafo {
    padding-top: 1em;
    font-size: 1.4em;

}

#content {
    text-align: center;
    margin: 0 auto;
    margin-top: 4em;
    background-color: rgba(18, 18, 19, 0.801);
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 70%;
    padding-left: 1em;
}

#h1 {

    color: rgb(252, 252, 252);
    font-weight: bold;
    

}

.test {
    text-align: center;
    text-decoration: none;
    color: #f7f3f3
    
}

.test:hover {

    color: red;
}

.tama1 {
    width: 330px;
    height: 230px;
    margin: 1em;
    border: solid 4px rgb(54, 53, 53);
}
.tama1:hover {
    margin-left: 0.5em;
    border: solid 4px white;
}

.tama2 {
    width: 330px;
    
    margin-top: 1em;
    margin-left: 0.5em;
    border: solid 4px rgb(54, 53, 53);
}

.tama2:hover {
    border: solid 4px rgb(26, 11, 233);
}

.tama3 {
    width: 330px;
    height: 230px;
    margin-right: 1em;
    margin-top: 1em;
    
    border: solid 4px rgb(54, 53, 53);
    
}
.tama3:hover {
    margin-left: 0.5em;
    border: solid 4px blue;
}


#porta{

    text-align:center ;
}
#sect1{
    
    text-align:center ;
    border-top: solid 1px rgb(3, 3, 3);
    border-bottom: solid 1px rgb(156, 154, 154);
    margin-top: 2em;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.8)), url("../img/pro.jpg");

}

#sect1 a {
    color: #f7f3f3;
    text-decoration: none;
}
#sect1 a:hover {
    color: #f80707;
    font-size: 1.1em;
    
}

.sect3{
    
    background-color: rgba(139, 137, 137, 0.945);
    text-align: center;
    align-items: center;
    height: 50vh;
}

#registroUser{
    margin-top: 4em;
}

#listarServicios{

    background-color: #f7f3f3;
}

