{% extends 'bases/base.html' %}
{% block title %}CHECHO BARBERS ADMINISTRADORES{% endblock%}

{%block content %}

<div style="text-align: center;  padding-top: 10em; ">

    <section class="container ">
        <div class=" py-3">

            <form action="{% url 'checho:guardadoAdmin' %}" method="post">{% csrf_token %}

                <div class="row g-3 my-5">
                    <h1 style="color: white; ">EDITAR CLIENTE</h1>
                    <div class="col">
                        <input type="text" class="form-control" value="{{admin.nombre}}" name="nombre" placeholder="Nombre "
                            aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" value="{{admin.apellido}}" name="apellido" placeholder="Apellido"
                            aria-label="Last name">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" value="{{admin.numeroTelefono}}" name="telefono" placeholder="numero de telefono"
                            aria-label="Last name">
                    </div>
                    <input type="hidden" name="id" value="{{admin.id}}">
                </div>

                <div>
                    <button type="submit" class="btn btn-success">REGISTAR</button>
                </div><br>
            </form>

        </div>


    </section><br>

</div>


{%endblock%}